html{
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section, .wrapper{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

#sliderIntro{
  box-sizing: border-box;
  height: 500px!important;
}

#btn{
  position: absolute;
  bottom: 100px;
}

button{
  width: 320px;
  background-color: rgb(251, 212, 59)!important;
}

.img-intro{
  margin-top: 50px;
  width: 100px;
  height: 80px;
}

#slider1, #slider2, #slider3{
  box-sizing: border-box;
  padding: 20px;
}

#icon_telephone{
  background: url("../img/icons/phoneandnumber.png") no-repeat;
  background-size: 80px 30px;
  text-align: center;
  margin: 0;
}
#code{
  background: url("../img/icons/lock.png") no-repeat;
  background-size: 30px 30px;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}
#name{
  background: url("../img/icons/user.png") no-repeat;
  background-size: 20px 20px;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}
#email{
  background: url("../img/icons/message-gray.png") no-repeat;
  background-size: 20px 20px;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}
#password{
  background: url("../img/icons/lock.png") no-repeat;
  background-size: 20px 20px;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

.bg-yellow{
  background-color: #fbd43b;
}
